@import '../../scss/acc-variables';
@import '../../scss/module/colors.module';
@import '../../scss/module/variables.module';

.statsCounter {
  display: flex;
  flex-direction: column;
  width: 100%;
  .counter {

  }
  .counterDescription {
    margin-top: 4px;
    color: $default-70-opacity;
  }
  .progressBar {
    display: inline-block;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: #E7E7E7;
    margin-top: 6px;
    .progress {
      height: 5px;
      border-radius: 3px;
      max-width: 100%;
    }
    &.hidden {
      visibility: hidden;
      pointer-events: none;
    }
  }
  & + & {
    margin-left: 15px;
  }
}
