:root {
  --menu-expand-duration: 0.3s;
  --menu-fade-duration: 0.2s;
  --menu-ripple-delay: 0.3s;
  --menu-background-color: var(--color-white);
  --menu-padding: calc(0.8 * var(--unit)) 0;
  --menu-outline-border-radius: calc(0.3 * var(--unit));
  --menu-item-hover-background: var(--palette-grey-200);
  --menu-item-selected-background: transparent;
  --menu-item-icon-font-size: calc(2 * var(--unit));
  --menu-item-icon-size: calc(1.6 * var(--menu-item-icon-font-size));
  --menu-item-height: calc(3.6 * var(--unit));
  --menu-item-padding: calc(1.6 * var(--unit));
  --menu-item-font-size: calc(1.6 * var(--unit));
  --menu-divider-height: calc((3.6 / 4) * var(--unit));
  --menu-icon-size: calc(2.3 * var(--unit));
  --menu-icon-ripple-duration: 650ms;
}
