@import '../../scss/acc-variables';

.indicator {
  border-radius: 3px;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;

  & *,
  & *::after,
  & *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-size-adjust: 100%;
    -webkit-touch-callout: none;
  }

  &.small {
    width: 4px;
    height: 4px
  }

  &.large {
    width: 16px;
    height: 16px;
  }

  &.primary {
    background: $primary;
  }

  &.brand {
    background: $brand;
  }

  &.danger {
    background: $danger;
  }

  &.default {
    background: $default;
  }

  &.success {
    background: $success;
  }

}
