@import "../../scss/acc-variables";

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: $default;
  background: linear-gradient(0deg, $default 0%, $default-company 100%);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
  white-space: nowrap;
  border-radius: 0 16px 16px 0;
  color: $white;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;

  & *,
  & *::after,
  & *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-size-adjust: 100%;
    -webkit-touch-callout: none;
  }

  .innerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .logo {
      margin-top: 43px;
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .profile {
      margin-top: 33px;
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .links {
      margin-top: 48px;
      display: block;
      width: 100%;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0;
    transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
  }

  &.mini {
    width: 83px;
  }
}

.oval {
  width: 330px;
  height: 330px;
  position: absolute;
  bottom: 90px;
  left: 55px;
  z-index: -1;
}

.sidebarLink {
  width: 100%;
  margin: 8px 0 0 0;

  .btn {
    width: 100%;
    height: 52px;
    color: $white;
    box-shadow: none;
    justify-content: flex-start;
    padding: 0 25px;
    transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);

    &.active {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 6px !important;
      box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.15);
    }

    .iconBtn {
      margin-right: 13px;
    }

    &.btnIconOnly {
      width: 52px !important;
      padding: 0 16px;

      .iconBtn {
        margin: 0;
      }
    }

    &.onDark {
      &.active {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 6px !important;
      }
    }

    &.slimLink {
      height: 31px !important;
      padding: 0 16px!important;
      &.btnIconOnly {
        width: 31px !important;
        padding: 0 6px!important;
      }

    }

  }
}

.miniTrigger {
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
  position: fixed;
  top: 50%;
  left: 188.5px;
  z-index: 150;
  border-radius: 11px;
  width: 29px;
  height: 22px;
  background: #FFFFFF !important;
  padding: 0 !important;
  transform: translate(0, -50%);
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.15) !important;

  .icon {
    transform: rotate(180deg);
  }

  &.miniSidebar {
    left: 70px;

    .icon {
      transform: rotate(0deg);
    }
  }
}

.popoverContainer {
  color: #ffffff;
  background: #20222E;
  padding: 6px 12px;
  border-radius: 3px;
  margin-left: 25px;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.15);
}

.productSwitch2 {
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px !important;
  padding: 10px;
  transition: 0.5s all cubic-bezier(0.4, 0, 0.6, 1);

  .title {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 6px 0 6px;
    opacity: 1;
    transition: 0.1s all cubic-bezier(0.4, 0, 0.6, 1);

    span {
      color: $white !important;
    }

    &.collapsed {
      opacity: 0;
      height: 0;
      padding: 0;
    }

  }

  .content {
    display: flex;
    color: $white !important;
    justify-content: space-around;
    width: 100%;

  }
}
