.dividerAlternate1 {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dividerAlternate2 {
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.divider1 {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.divider2 {
  border: 3px solid rgba(255, 255, 255, 0.1);
}
