:root {
  --alert-error-background-color: rgb(255, 125, 122,0.17);
  --alert-success-background-color: rgb(108, 222, 168,0.17);
  --alert-info-background-color: rgb(39, 173, 255, 0.17);
  --alert-warning-background-color: rgb(255, 193, 69,0.17);
  --alert-error-font-color: #C9605E;
  --alert-success-font-color: #53AC82;
  --alert-info-font-color: #1C8BCF;
  --alert-warning-font-color: #CF9C36;
}
