:root {
  --input-padding: calc(2 * var(--unit));
  --input-field-padding: calc(0.8 * var(--unit));
  --input-field-font-size: calc(1.3 * var(--unit)) ;
  --input-field-height: calc(var(--input-field-padding) * 2 + var(--input-field-font-size) * 1.4);
  --input-label-font-size: calc(1.2 * var(--unit));
  --input-focus-label-top: 16px;
  --input-text-background-color: rgba(255,255,255,0.07);
  --input-text-label-color: #FFFFFF;
  --input-text-input-element-color: #FFFFFF;
  --input-text-highlight-color: var(--color-primary);
  --input-text-disabled-color: var(--input-text-bottom-border-color);
  --input-text-disabled-text-color: var(--input-text-label-color);
  --input-text-error-color: #e28383;
  --input-text-required-color: #e28383;
  --input-underline-height: calc(2 * var(--unit));
  --input-icon-font-size: calc(2.4 * var(--unit));
  --input-icon-size: calc(2 * var(--input-icon-font-size));
  --input-icon-offset: calc(1 * var(--unit));
  --input-icon-right-space: calc(2 * var(--unit));
  --input-chevron-offset: calc(0.8 * var(--unit));
  --input-hint-opacity: 1;
}
