@import "../../scss/acc-variables";
@import '../../scss/mixins';

.toggle {
  position: relative;
}

.toggleSwitch {
  position: absolute;
  opacity: 0;

  + label {
    position: relative;
    display: block;
    background-color: $accent-black-rock;
    color: $black;
    transition: background 0.4s;
    cursor: pointer;
    outline: none;
    text-indent: -99999px;

    &.small {
      height: $toggle-small-height;
      width: $toggle-small-width;
      border-radius: $toggle-small-height;

      &:after {
        height: $toggle-small-circle-size;
        width: $toggle-small-circle-size;

        top: $toggle-small-circle-spacing;
        left: $toggle-small-circle-spacing;
        bottom: $toggle-small-circle-spacing;
      }
    }

    &.medium {
      height: $toggle-medium-height;
      width: $toggle-medium-width;
      border-radius: $toggle-medium-height;

      &:after {
        height: $toggle-medium-circle-size;
        width: $toggle-medium-circle-size;

        top: $toggle-medium-circle-spacing;
        left: $toggle-medium-circle-spacing;
        bottom: $toggle-medium-circle-spacing;
      }
    }

    &.large {
      height: $toggle-large-height;
      width: $toggle-large-width;
      border-radius: $toggle-large-height;

      &:after {
        height: $toggle-large-circle-size;
        width: $toggle-large-circle-size;

        top: $toggle-large-circle-spacing;
        left: $toggle-large-circle-spacing;
        bottom: $toggle-large-circle-spacing;
      }
    }

    &:after {
      position: absolute;
      display: block;
      background-color: $white;
      transition: margin 0.4s, background 0.4s;
      content: "";
      border-radius: 50%;
    }
  }

  &:checked + label {
    background-color: $success;
  }

  &:checked + label.small:after {
    margin-left: $toggle-small-circle-size;
  }

  &:checked + label.medium:after {
    margin-left: $toggle-medium-circle-size + 1px;
  }

  &:checked + label.large:after {
    margin-left: $toggle-large-circle-size + 1px;
  }

  &[disabled] + label {
    opacity: .5;

    // IE8 filter
    filter: alpha(opacity=50);
  }

  &:focus + label {
    box-shadow: 0 0 0 2px transparentize($blue, 0.8);
  }
}
