@import "../../scss/acc-variables";
@import '../../scss/module/colors.module.scss';
@import '../../scss/module/variables.module.scss';
@import './config.module.scss';

.tabs {
  display: flex;
  flex-direction: column;


  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;

  & *,
  & *::after,
  & *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-size-adjust: 100%;
    -webkit-touch-callout: none;
  }

  &::-ms-expand {
    display: none;
  }
}

.navigation {
  box-shadow: inset 0 -1px var(--tab-navigation-border-color);
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  position: relative;
}

.navigationContainer {
  display: flex;

  & .navigation {
    flex: 1;
  }
}

.arrow {
  color: var(--tab-text-color);
  padding: 0 var(--tab-label-h-padding);
}

.arrowContainer {
  align-items: center;
  box-shadow: inset 0 -1px var(--tab-navigation-border-color);
  cursor: pointer;
  display: flex;
}

.icon {
  display: block;
  height: var(--tab-icon-height);
  line-height: var(--tab-icon-height);
  margin: 0 auto;
}

.label {
  color: $default-70-opacity;
  font-size: var(--tab-text-height);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1;
  padding: var(--tab-label-v-padding) var(--tab-label-h-padding);
  position: relative;
  transition-duration: var(--animation-duration);
  transition-property: box-shadow, color;
  transition-timing-function: var(--animation-curve-default);
  background: #f2f2f2;
  &:first-child {
    border-radius: 6px 0 0 0;
  }
  &:nth-last-child(2) {
    border-radius: 0 6px 0 0;
  }
  &:focus {
    background-color: var(--tab-focus-color);
    outline: none;
  }

  & > .rippleWrapper {
    overflow: hidden;
  }

  &.active {
    color: $default-70-opacity;
    border-top: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    background: none;
  }

  &.disabled {
    opacity: var(--tab-label-disabled-opacity);
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  &.hidden {
    display: none;
  }

  &.withIcon {
    padding-bottom: calc(var(--tab-label-v-padding) - var(--tab-icon-margin-bottom) / 2);
    padding-top: calc(var(--tab-label-v-padding) - var(--tab-icon-margin-bottom) / 2);
    text-align: center;
  }

  &.withText {
    & .icon {
      margin-bottom: var(--tab-icon-margin-bottom);
    }
  }
}

.pointer {
  background-color: #FFFFFF;
  height: var(--tab-pointer-height);
  margin-top: calc(-1 * var(--tab-pointer-height));
  position: absolute;
  /* transition-duration: var(--animation-duration);
  transition-property: left, width;
  transition-timing-function: var(--animation-curve-default); */
  width: 0;
}

.tab {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--tab-label-v-padding) var(--tab-label-h-padding);
  position: relative;

  &:not(.active) {
    display: none;
  }

  &.active {
    display: flex;
  }
}

.fixed {
  & .label {
    flex: 1;
    text-align: center;
  }
}

.inverse {
  & .navigation,
  & .arrowContainer {
    background-color: var(--tab-inverse-bar-color);
  }

  & .label {
    color: var(--tab-inverse-text-inactive-color);

    &.active {
      color: var(--tab-inverse-text-color);
    }
  }

  & .arrow {
    color: var(--tab-inverse-text-color);
  }

  & .pointer {
    background-color: var(--tab-inverse-pointer-color);
  }
}

.tabs.material {
  .label {
    color: $default-60-opacity;
    transition-property: background-color, box-shadow, color;
    background: none;
    &.active {
      color: $default;
      border: none;
      background: none;
    }
  }
  .pointer {
    background-color: $brand;
    transition-duration: var(--animation-duration);
    transition-property: left, width;
    transition-timing-function: var(--animation-curve-default);
    border-radius: 2px;
  }
}
