@import "../../scss/acc-variables";

.rc-slider {
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  box-sizing: border-box;
  height: 14px;
  padding: 5px 0;
      position: relative;
  touch-action: none;
  width: 100%;
}

.rc-slider * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

.rc-slider-rail {
  background-color: $white;
  border-radius: 6px;
  box-shadow: 0 10px 50px -25px rgba(28, 47, 73,.25);
  height: 4px;
  position: absolute;
  width: 100%;
}

.rc-slider-track {
  background-color: #57c5f7;
  border-radius: 6px;
  height: 4px;
  left: 0;
  position: absolute;
}

.rc-slider-handle {
  -ms-touch-action: pan-x;
  background-color: #57c5f7;
  border-radius: 50%;
  cursor: -webkit-grab;
  cursor: pointer;
  cursor: grab;
  height: 14px;
  margin-left: -7px;
  margin-top: -5px;
  position: absolute;
  touch-action: pan-x;
  width: 14px;
  transform: translateX(0)!important;
}

.rc-slider-handle:focus {
  border-color: #57c5f7;
  box-shadow: 0 0 0 5px #96dbfa;
  outline: none;
}

.rc-slider-handle-click-focused:focus {
  border-color: #96dbfa;
  box-shadow: unset;
}

.rc-slider-handle:hover {
  border-color: #57c5f7;
}

.rc-slider-handle:active {
  border-color: #57c5f7;
  box-shadow: 0 0 5px #57c5f7;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.rc-slider-mark {
  font-size: 12px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 100%;
}

.rc-slider-mark-text {
  color: #999;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.rc-slider-mark-text-active {
  color: #666;
}

.rc-slider-step {
  background: transparent;
  cursor: pointer;
  height: 4px;
  position: absolute;
  width: 100%;
}

.rc-slider-dot {
  background-color: #fff;
  border: 2px solid #e9e9e9;
  border-radius: 50%;
  bottom: -2px;
  cursor: pointer;
  height: 8px;
  margin-left: -4px;
  position: absolute;
  vertical-align: middle;
  width: 8px;
}

.rc-slider-dot-active {
  border-color: #96dbfa;
}

.rc-slider-disabled {
  background-color: #e9e9e9;
}

.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}

.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  background-color: #fff;
  border-color: #ccc;
  box-shadow: none;
  cursor: not-allowed;
}

.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}

.rc-slider-vertical {
  height: 100%;
  padding: 0 5px;
  width: 14px;
}

.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px;
}

.rc-slider-vertical .rc-slider-track {
  bottom: 0;
  left: 5px;
  width: 4px;
}

.rc-slider-vertical .rc-slider-handle {
  -ms-touch-action: pan-y;
  margin-bottom: -7px;
  margin-left: -5px;
      touch-action: pan-y;
}

.rc-slider-vertical .rc-slider-mark {
  height: 100%;
  left: 18px;
  top: 0;
}

.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px;
}

.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px;
}

.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px;
}

.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px;
}

.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-play-state: paused;
  display: block !important;
}

.rc-slider-tooltip-zoom-down-leave {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-play-state: paused;
  display: block !important;
}

.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  animation-name: rcSliderTooltipZoomDownIn;
  animation-play-state: running;
}

.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  animation-name: rcSliderTooltipZoomDownOut;
  animation-play-state: running;
}

.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transform: scale(0, 0);
}

.rc-slider-tooltip-zoom-down-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: 50% 100%;
  }

  100% {
    transform: scale(1, 1);
    transform-origin: 50% 100%;
  }
}

@keyframes rcSliderTooltipZoomDownOut {
  0% {
    transform: scale(1, 1);
    transform-origin: 50% 100%;
  }

  100% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: 50% 100%;
  }
}

.rc-slider-tooltip {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  left: -9999px;
  position: absolute;
  top: -9999px;
  visibility: visible;
}

.rc-slider-tooltip * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

.rc-slider-tooltip-hidden {
  display: none;
}

.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
}

.rc-slider-tooltip-inner {
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
  color: #fff;
  font-size: 12px;
  height: 24px;
  line-height: 1;
  min-width: 24px;
  padding: 6px 2px;
  text-align: center;
  text-decoration: none;
}

.rc-slider-tooltip-arrow {
  border-color: transparent;
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  border-top-color: #6c6c6c;
  border-width: 4px 4px 0;
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
}
