:root {
  --checkbox-color: var(--color-primary);
  --checkbox-disabled-color: var(--color-text);
  --checkbox-field-margin-bottom: calc(1.5 * var(--unit));
  --checkbox-focus-checked-color: var(--color-primary);
  --checkbox-ripple-duration: 650ms;
  --checkbox-size: calc(1.8 * var(--unit));
  --checkbox-focus-color: var(--color-primary);
  --checkbox-focus-size: calc(var(--checkbox-size) * 2.3);
  --checkbox-text-color: var(--color-text);
  --checkbox-border-color: var(--palette-grey-600);
  --checkbox-text-font-size: var(--font-size-small);
  --checkbox-total-height: calc(1.8 * var(--unit));
  --checkbox-transition-duration: 0.2s;
}
